@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

.App {
  background-image: url("BACKGROUND_2_1_.svg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  box-sizing: border-box;
  overflow: scroll;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.showResultsBtn {
  background: #3E3753;
  border-radius: 4px;
  padding: 12px 52px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 48px;

}

.entryScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
 
}

.title {
  flex-direction: column;
  display: flex;

}

.title svg {
  padding-left: 20px;
}

.fixedNav{
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  right: 0px;
  padding: 14px;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ffdec3;
}

.navButton{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 14px;
  margin: 0 8px;
  background-color: rgba(255, 246, 235, 0.5);
}

.launchesWrapper {
  padding-top: 40px;
}